<form method='POST' action='/landmarks'>
  <input type='text' name='landmark[name]' id='landmark_name'>
  <input type='text' name='landmark[year_completed]' id='landmark_year_completed'>
  <input type='submit' value='Create New Landmark'>
</form>